.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-container {
  position: relative;
}

.hide-option{
	display: inline-block;
	float: right;
	cursor: pointer;
}

.card{
	border: 1px solid #F05F40  ;
	box-shadow: 1px 1px 1px #F05F40  ;
	margin: 5px 0;
	padding: 10px 20px;
	background-color: #fff;
}

.card-header{
	text-align: center;
	border-bottom: 1px solid #ee4b28;
	font-size: 18px;
}
.card-footer{
	border-top: 1px solid #ee4b28;
}

.float-right{
	float: right;
}

.table{
	overflow: auto;
	background-color: #fff;
}

.col-md-10 .panel-body{
	font-size: 17px;
}

.container{
	padding-top: 60px;
}
.panel-default>.panel-heading{
	color: #eb3812;
}
#payByMonth{
	width: 90vw;
	overflow-x: auto;
	white-space: nowrap;
}