.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-container {
  position: relative;
}

.hide-option{
	display: inline-block;
	float: right;
	cursor: pointer;
}

.card{
	border: 1px solid #268851  ;
	box-shadow: 1px 1px 1px #268851  ;
	margin: 5px 0;
	padding: 10px 20px;
	background-color: #fff;
}

.card-header{
	text-align: center;
	border-bottom: 1px solid #268851;
	font-size: 18px;
}
.card-footer{
	border-top: 1px solid #268851;
}

.float-right{
	float: right;
}

.table{
	overflow: auto;
	background-color: #fff;
}

.col-md-10 .panel-body{
	font-size: 17px;
}

.container{
	padding-top: 60px;
	width: 50vw;
}
.panel-default>.panel-heading{
	color: #268851;
}
#payByMonth table{
	width: 100vw;	
	white-space: nowrap;
}
.table-row{
	width: 80vw;
	overflow-x: auto;
	margin: 0 auto;
}
.table > tbody > tr >td{
	min-width: 120px;
	max-width: 120px;
}

.field{
	display: flex;
	justify-content: space-between;
}
.label{
	font-weight: 700;
	color: #000;
    font-size: 1.5rem;
}
.details-tile-left{
	border-right: 2px solid #eee;
}
.nav-tabs>li>a{
	font-weight: 600;
}
.ellipsis {
	text-overflow: ellipsis;

	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}
/* ************************ INDEX *****************************/
.header-section{
	font-size: 1.5rem;
	font-weight: 600;
}
.panel-footer{
	text-align: right;
}
.panel-footer button{
	width: 10vw;
	display: inline-block;
}
.capitalize{
	text-transform: capitalize;
}
.employee{
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
}
/* ************************ INDEX *****************************/
/* ************************ CREATE *****************************/
	img.logo{
		width: 100%;
	}

/* ************************ CREATE *****************************/
@media only screen and (max-width: 600px) {
	.table-row{
		width: 100vw;
	}
	.well{
		padding: 20px 0;		
	}
	.container{
		padding-top: 60px;
		width: 100vw;
	}
	.details-tile-left{
		border-right: 0;
		padding-bottom: 10px;
	}
	.details-tile-right{
		border-top: 2px solid #eee;
		padding-top: 10px;
	}
	.panel-footer button{
		width: 100%;	
	}
	
}